/*IF STYLES.CSS NOT LOAD ON GOOGLE CHROME PRESS CTRL+F5 ;D*/

/*GENERALES*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

body{
   background: url(../img/patron.jpg);
}

a{
    color: #01b1ea;

}

a:visited{
    color: #01b1ea;
}

a:hover{
    color: #555;
}

/*CONTAINER*/
#container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px gray;
    background: white;

}

/*HEADER*/
#header{
    height: 145px;
    background: #F0F0F0;
}

#logo{
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 130px;
}

#logo a{
    text-decoration: none;
    float: left;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #01b1ea;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 15px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01b1ea;
}

/*MENU*/
#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}


#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background-color: #01b1ea;
}

/*CONTENT*/
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*BARRA LATERAL*/
#lateral{
     width: 22%;
     min-height: 500px;
     float: left;
     margin-top: 20px;
     margin-left: 10px;
}

#lateral .blog_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e1e1e1;
    border-bottom: 2px solid #01b1ea;
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*FORMS*/

label, input[type="text"], input[type="password"], input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"], input[type="password"], input[type="email"], select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background-color: white;
    padding: 2px;
    color: #01b1ea;
    transition: all 300ms;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

.button{
    background-color: #33AE3D;
    color: white !important; 
    text-decoration: none;
}

label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;
}

/*CENTRAL*/
#central{
    width: 72%;
    min-height: 500px;
    float:right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding:25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom:20px;
    padding:10px;
    padding-top: 0px;
}

/*PRODUCTOS*/
.product{
    width: 30%;
    /*border-right: 1px solid #ccc;*/
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product img{
    width: 100px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

/*FOOTER*/
#footer{
    clear: both; /*CON ESTO LIMPIAMOS LOS FLOTADOS*/
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222;
    border-top: 4px solid #01B1EA;
}

#footer p {
    padding: 10px;
}